/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  /* background-image: url('https://image.freepik.com/free-vector/ice-cream-melted-yellow-seamless-wafer-texture-background_87561-142.jpg'); */
  /* background-image: url('https://image.freepik.com/free-vector/seamless-wafer-dripping-cream-repeatable-vector-art-background_9845-113.jpg'); */
  background-image: url('../images/background.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}


/* ---- typography ---- */

body {
  color: #111;
  font-family: 'Fredoka One', cursive;
  font-size: 16px;
  line-height: 147%;
}

p {
  margin: 0;
}



/* ---- layout ---- */

html, body {
  height: 100%;
}

.container {
  margin: 0 20px;
}

@media (min-width: 768px) {
  .container {
    max-width: 728px;
    margin: 0 auto;
  }
}


/* ---- game page---- */

.game {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.game header {
  height: 50px;
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 6px;
}

.game .lives {
  flex: 1;
  color: #74cfed;
}

#lives-logo {
  width: 30px;
  height: 30px;
}

.game .score {
  flex: 1;
  color: #74cfed;
}

.game .label {
  font-weight: bold;
}

.game .value {
  /* font-style: italic; */
}

.game .canvas-container {
  flex: 1;
  background-color: rgba(250, 242, 249, 0.6);

}

/* ---- start page ---- */
.start {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 5px;
}

.title {
  color: wheat;
}

.instru {
  display: flex;
  justify-content: space-around;
}

.instruNeg {
  margin-right: 60px;
 
}

.instruPos {
  margin-left: 60px;
}

.input-name {
  font-size: 15px;
  text-align: center;
  color: #74cfed;
  margin-top: 10px;
  border-radius: 6px;
}

.btn-start {
  height: 70px;
  width: 200px;
  border-radius: 6px;
  border-width: 0;
  font-size: 40px;
  font-family: 'Lilita One', cursive;
  /* margin-top: 50px; */
  background-color:#F18896;
  color: white;
  box-shadow: 1px 1px #f7e1f3;
  padding: 10px 30px;
  margin: 10px 0px 30px 0px;
  text-align: center;
  transition: background-color .3s;
  
}
/* font-family: 'McLaren', cursive; */
/* font-family: 'Mitr', sans-serif; */
/* font-family: 'Days One', sans-serif; */
/* font-family: 'Lilita One', cursive; */

.btn-start:hover {
  background-color: whitesmoke;
}

/* ---- game over page ---- */
.gameover-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 10px;
}

.gameover {
 font-size: 60px;
 color: whitesmoke;
 text-shadow: 1px 1px gray;
}

.gameovername {
  font-size: 50px;
  color: whitesmoke;
  text-shadow: 1px 1px gray;
  padding-top: 10px;
}

.gameoverscore {
  font-size: 40px;
  color: whitesmoke;
  text-shadow: 1px 1px gray;
  padding-top: 50px;
}

.playersscore {
  font-size: 40px;
  font-family: 'Russo One', sans-serif;
  color: #6FCAC4;
  margin-top: 30px;
  background-color: white;
  text-shadow: 1px 1px gray;
  border-radius: 6px;
  padding: 50px;
}
/* font-family: 'McLaren', cursive; */
/* font-family: 'Mitr', sans-serif; */
/* font-family: 'Days One', sans-serif; */
/* font-family: 'Lilita One', cursive; */

.ranking-names {
  padding: 15px;
}

th {
  padding-bottom: 20px;
}

.btn-gameover {
  height: 70px;
  width: 200px;
  border-radius: 6px;
  border-width: 0;
  font-size: 40px;
  /* margin-top: 50px; */
  background-color:#F18896;
  color: white;
  box-shadow: 1px 1px #f7e1f3;
  padding: 10px 30px;
  margin: 20px 0px 30px 0;
  text-align: center;
  transition: background-color .3s;
  font-family: 'Lilita One', cursive;
}
